/* Global */

html {
    font-size: 48.5%;
}

body {
    margin: 0;
    font-family: 'Gloock', serif;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}

/* NavSection */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    line-height: 1.2;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bolder;
    font-size: xx-large;
}

a {
    text-decoration: none;
}

.logo {
    font-family: 'Gloock', serif;
    color: lightcoral;
    padding: 0 0 0.3em 0;
    position: relative;
}
  
.logo:hover {
    color: lightcoral;
}
  
.logo::before {
    content: "";
    display: inline;
    width: 0%;
    height: 0.2em;
    position: absolute;
    bottom: 0;
    background-color: lightsalmon;
    transition: width 0.2s ease-in;
}
  
.logo:hover::before,
.logo:focus::before {
    width: 100%;
}

nav {
    margin: 4em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 4.1em;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
}

nav ul li a.active:before {
    position: absolute;
    content: "";
    width: 35%;
    height: 1px;
    border-bottom: 2px solid black;
    bottom: -6px;
}

nav ul li a:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    border-bottom: 2px solid rosybrown;
    bottom: -6px;
    transition: width 0.3s;
}

/* MainSection */

main {
    display: flex;
    gap: 8em;
    margin-top: 5em;
}

.left-col {
    width: 45%;
}

/* flex grow digunakan karna sudah menggunakan flex diatas */
.right-col {
    flex-grow: 1;
}

h3 {
    font-size: 4.2rem;
    font-weight: normal;
    margin: 0;
}

.subhead {
    font-size: 1.8rem;
}

.cta-btns {
    margin: 5em 0;
}

.cta-btns, .secondary-cta {
    display: flex;
    gap: 2em;
}

.primary-cta {
    background-color: lightsalmon;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 1.9em;
    padding: 1em 2em;
}

.secondary-cta {
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
    display: block;
    padding: 1em 0;
}

.secondary-cta svg {
    width: 25px;
}

.news {
    display: flex;
    gap: 3em;
    border: 1px solid black;
    border-radius: .8em;
    position: relative;
    text-align: center;
}

.news:before {
    position: relative;
    content: "";
    background-color:rosybrown;
    width: 100px;
    height: 100px;
    top: -20px;
    left: -20px;
    z-index: 2;
}

p.target {
    font-size: 3.3rem;
    margin: 0;
    text-align: center;
    font-weight: 200;
}

p.details {
    font-size: 1.4rem;
    margin: 1.5em;
    text-align: center;
}

/* right column */

.right-col {
    display: grid;
    gap: 2.3em;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: 
        "left ."
        "left .";
}

.card {
    border-radius: .8em;
    padding: 1.1em;
    display: flex;
    align-items: end;
    background-size: 300%;
}

.card1 {
    grid-area: left;
    background-image: url(./img/pj1.jpg);
    position: relative;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.card2 {
    background-image: url(./img/pj2.jpg);
    position: relative;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.card3 {
    background-image: url(./img/pj1.jpg);
    position: relative;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.card1::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 20px;
    left: -30px;
    pointer-events: none;
}

.card-details {
    background: white;
    border-radius: .6em;
    padding: 1.5em;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.card-details a{
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.card-details p {
    margin: 0;
}

p.product-price {
    font-size: 1.4rem;
}

/* Effect */

nav ul li a:hover:before {
    width: 35%;
}

.primary-cta:hover {
    background: lightcoral;
}

.secondary-cta:hover {
    color: lightcoral;
    text-decoration: underline;
}

.card:hover {
    background-image: url(./img/corgi1.jpg);
    background-position: center;
}

.card:hover .card-details {
    transform: translateY(-20px);
}

.overlay {
    position: absolute;
    z-index: 999;
    background: white;
    width: 100%;
    height: 100%;
    animation: reveal 0.5s ease-in forwards;
    transform-origin: bottom;
}

/* contact section */

.contact {
    width: 300px;
    height: 200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer section */

footer {
    background-color: white;
    margin-top: 5em;
    padding: 1em;
    text-align: center;
}

@keyframes reveal {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

.harga {
    display: grid;
    place-items: center;
    width: 100%;
    margin: 0rem;
    overflow: hidden;
    border:1px solid transparent;
}

.harga h1 {
    font-size: clamp(3rem, 10vw, 10rem);
    color: black;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
}
      
.harga h1:hover {
    background-color: white;
    color: black;
}

.menu {
    color: black;
    height: 100%;
    width: 100%;
}
